:root {
  --color-white-0: #fafafa;
  --color-white-1: #eee;
  --color-gray-1: #ccc;
  --color-gray-2: #444;
  --color-yellow-0: #fcf0c5;
  --color-blue-0: #e4f6f2;
  --color-blue-1: #abe7d8;
  --color-blue-2: #84dcc6;
  --color-blue-3: #4DAAA7;
  --color-orange-0: #FFE7C6;
  --color-orange-1: #FFA726;
  --color-orange-2: #FF8F12;
  --color-orange-3: #de7500;
  --color-violet: #193A54;
  --font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.shadow { box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -1rem;
  padding-left: 0;
}
.movie {
  composes: shadow;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  position: relative;
  width: calc(50% - 2rem);
}
.save {
  composes: shadow;
  border-radius: 2rem;
  font-size: 2rem;
  padding: 0 0 0.25rem 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.6rem;
}
.saved {
  composes: shadow;
  composes: save;
  background-color: var(--color-blue-3);
  font-size: 1.4rem;
  padding: .3rem 0 .25rem 0;
}
.saved:hover {
  background-color: var(--color-blue-3);
}
.saved:active {
  background-color: var(--color-blue-3);
}
.copy {
  padding: 1.5rem;
}
.year {
  color: var(--color-gray-1);
}
@media (min-width: 30em) {
  .movie {
    width: calc(33.33% - 2rem);
  }
}
