.searchbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input {
  flex: 0 1 100%;
}
.button {
  flex: 0 1 100%;
}
.get {
  composes: button;
}
.save {
  composes: button;
}
@media (min-width: 30em) {
  .searchbar {
    flex-wrap: nowrap;
  }
  .input {
    flex: 0 1 70%;
  }
  .button {
    margin-left: 10px;
    flex: 0 1 30%;
  }
}
